.st-emotion-cache-kskxxl.e116k4er3 {
    border-color:white;
}

div.st-emotion-cache-zt5igj.e1nzilvr4 {
    color:rgb(37, 2, 78);
}
div.element-container.st-emotion-cache-13tdgzb.e1f1d6gn4 {
    height:70px;
}

div.st-emotion-cache-16idsys.e1nzilvr5 p{
    font-size: 14px;
    font-weight: bold;
}

div.st-emotion-cache-16idsys.e1nzilvr5 {
    width: 100%;
    text-align: center;
}

div.stMarkdown {
    vertical-align: bottom;
}

div.st-af.st-ah.st-ba.st-ar.st-as.st-ax.st-ay.st-az.st-b0.st-b1.st-b2.st-bb.st-b7 {
    height:40px;
    width:224px;
    border-color:white;
    text-align: center;
}


div.st-emotion-cache-1vbkxwb.e1nzilvr5 p{
    font-size: large;
}

div.st-emotion-cache-1vbkxwb.e1nzilvr5 p:hover{
    font-weight: bold;
}


div.st-emotion-cache-1kyxreq.e115fcil2 {
    justify-content: center;
}

div.stMarkdown {
    justify-content: right;
    text-align: center;
}

div.st-emotion-cache-5rimss.e1nzilvr5 {
    border-width: 5px;
    border-color: white;
    text-align: center;
}

div.st-emotion-cache-5rimss.e1nzilvr5 p {
    text-align: center;
    align-self: right;
    color:white;
    font-size:17px;
}

button.st-emotion-cache-7ym5gk.ef3psqc12:hover {
    border-color: forestgreen;
    color: forestgreen;
}

button.st-emotion-cache-7ym5gk.ef3psqc12:active {
    background-color: forestgreen;
    color: white;
}

div.stAlert{
    width:140px;
}

img {
    border-radius: 2.5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

div.uploadedFileData.st-emotion-cache-1l4firl.e1b2p2ww7 {
    color:blanchedalmond;
    font-size: 17px;
}

div.uploadedFileData.st-emotion-cache-1l4firl.e1b2p2ww7 small.st-emotion-cache-1aehpvj.e1bju1570 {
    font-size: 16px;
    color:blanchedalmond;
}

svg.eyeqlp51.st-emotion-cache-4mjat2.ex0cdmw0 {
    color: blanchedalmond;
}

button.st-emotion-cache-1lp7pgu.ef3psqc9 svg.eyeqlp51.st-emotion-cache-1pbsqtx.ex0cdmw0 {
    color:blanchedalmond;
}

button.st-emotion-cache-1lp7pgu.ef3psqc9 svg.eyeqlp51.st-emotion-cache-1pbsqtx.ex0cdmw0:hover {
    color:red;
}